
$fondSize: 16px;
$fondHeadingSize: 4rem;
$fondMobHeadingSize: 2.5rem;
$fondTextSize: 1.5rem;
$fondHeadingCardsSize: 2rem;
$fondHeadingGameSize: 3rem;

$colorHeadingText:#FFFFFF;
$colorText: #202027;
$weightHeadingText: 700;
$weightDescriptionText: 400;
$weightSemiboldText: 600;