@media (max-width: 1025px){

    
        .center{
          padding-left: calc(50% - 350px);
          padding-right: calc(50% - 350px);
         }

         .game-menu{
          display: none;
        }
      
        .heading {
          font-size:$fondHeadingGameSize;
          line-height: 60px;
          text-align: center;
        }
      
          .top {
            padding-top: 147px;
            background-image: url('img/Обложка_mob.png');
            background-repeat: no-repeat;     
            background-size: cover;
      
              .description{
                margin-bottom: 36px;
               }
      
           &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
           }   
           
           &__navigation {
            margin-top: 131px;
            height: 51px;
          }
       }
      
       .button_mob {
        font-weight: $weightSemiboldText;
        font-size: $fondSize; 
      }

      .card-game__cover{
        border-radius: 30px;
      }
      
      .game{
        &__name{
          font-size:$fondHeadingCardsSize ;
        }
        
        &__description{
          margin-bottom: 32px;
          font-size: $fondSize;
        }
      
      }
   
      
}
       