

$backgroundColorSections : #202027;
$backgroundCardsColor:#FFFFFF;

$topMarginDescriptionText: 24px;
$topMarginSection:94px;
$buttonSize: 247px;
$buttonBorderRadius: 60px;
$widthGameCard:1200px;
$widthImgGameCard:600px;

$gap:32px;





