$backgroundColorSections : #202027;
$weightHeadingText: 700;
$sizeHeadingText: 64px;
$colorHeadingText:#FFFFFF;
$colorText: #202027;
$weightDescriptionText: 400;
$sizeDescriptionText: 24px;
$leftMarginsize: 120px;
$rightMarginsize: 120px;
$topMarginDescriptionText: 24px;
$topMarginSection:94px;
$buttonSize: 247px;
$buttonBorderRadius: 60px;
$backgroundCardsColor:#FFFFFF;
$gap:32px;
// $heightCard: 512px;
$heightMiddleCard: 378px;


