$backgroundColorSections : #202027;
$backgroundCardsColor:#FFFFFF;

$leftMarginsize: 120px;
$rightMarginsize: 120px;
$topMarginDescriptionText: 24px;
$topMarginSection:94px;
$buttonSize: 247px;
$buttonBorderRadius: 60px;

$gap:32px;





