$colorText:white;

* {
    margin: 0;
    padding: 0;
 }

body{
    font-family: "Montserrat", sans-serif;        
}

span{
    font-weight: 600;  
}

.title{
    font-style: bold;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color:$colorText;
}

.description{
    margin-top: 24px;
    color: $colorText;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

}

.top__title {
    color: black;     
}

.top__description {
   color: black;     
}

.header{
    height: 710px; 
    background-color:  #E1FF8F;
    display: flex;
    justify-content: space-between;
}
.header__content{
    margin-top: 196px;
    margin-left: 120px;
}

.header__image{
    height: 100%;
    background-size: cover;
}


.button{
    margin-top: 48px;
    background-color: #202027;
    padding: 16px 28px;
    border-radius: 60px;
    transition-duration: 0.4s;
    color: $colorText;
    font-weight: 600;
    font-size: 24px;
    width: 247px;
    
}

.button_hover:hover {
    background-color: white;
    border: 1px solid #202027;
    color: black;
  }

 .navigation{
    height: 90px;
    background-color: #BCEC30;
   
 }

 .game-menu{
    background-color:#202027;
    padding: 96px 120px;

 }

 .game-menu__cards{
  margin-top: 72px;
    
 }

 .cards__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
 }

 .card {
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
 }

 .card__cover{
    width: 100%; 
    height: auto;
 }

 .card__text{
    padding: 32px;
 }

 .number-game__button{
    background-color: #F7F7F7;
    height: 36px;
    width: 108px;
    border-radius: 52px;
    padding: 8px 16px 10px 16px;
    border: none;
 }

 .number-game__name{
    margin-top: 16px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  
 }

 .game-box{
    background-color: black;
 }

 .page-footer{
    padding: 60px 578px;
    background-color: #BDED35;
 }
 .page-footer__text{
   font-weight: 600px;
   font-size: 24px;
   font-weight: 600;
 }